# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "Resources/Weather_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Pangnirtung,CA,66.1451,-65.7125,33.13,89,100,9.37,light snow
1,1,Ushuaia,AR,-54.8000,-68.3000,46.06,49,40,9.22,scattered clouds
2,2,Codrington,AU,-38.2667,141.9667,61.77,76,13,10.54,few clouds
3,3,Hilo,US,19.7297,-155.0900,89.28,82,100,11.50,overcast clouds
4,4,Cape Town,ZA,-33.9258,18.4232,61.27,69,0,26.46,clear sky
5,5,Port Elizabeth,ZA,-33.9180,25.5701,61.32,99,100,6.91,overcast clouds
6,6,Qazvin,IR,36.2797,50.0049,60.42,48,75,2.30,broken clouds
7,7,Merrill,US,45.1805,-89.6835,53.55,73,0,0.00,clear sky
8,8,Albany,US,42.6001,-73.9662,50.41,62,1,3.27,clear sky
9,9,Chipinge,ZW,-20.1883,32.6236,61.83,69,0,2.64,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]   
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Hilo,US,19.7297,-155.0900,89.28,82,100,11.50,overcast clouds
10,10,Caravelas,BR,-17.7125,-39.2481,75.27,79,92,11.12,overcast clouds
19,19,Kavieng,PG,-2.5744,150.7967,83.41,69,100,8.72,overcast clouds
20,20,Sao Gabriel Da Cachoeira,BR,-0.1303,-67.0892,75.81,93,97,0.94,light rain
21,21,Gushikawa,JP,26.3544,127.8686,81.63,96,75,5.75,broken clouds
25,25,Avarua,CK,-21.2078,-159.7750,80.65,78,75,11.50,broken clouds
32,32,Janauba,BR,-15.8025,-43.3089,77.86,50,100,2.82,overcast clouds
35,35,Atuona,PF,-9.8000,-139.0333,76.86,66,0,13.87,clear sky
39,39,Nanakuli,US,21.3906,-158.1547,87.17,58,0,8.05,clear sky
46,46,Orange Cove,US,36.6244,-119.3137,84.61,32,0,0.00,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Hilo,US,19.7297,-155.0900,89.28,82,100,11.50,overcast clouds
10,10,Caravelas,BR,-17.7125,-39.2481,75.27,79,92,11.12,overcast clouds
19,19,Kavieng,PG,-2.5744,150.7967,83.41,69,100,8.72,overcast clouds
20,20,Sao Gabriel Da Cachoeira,BR,-0.1303,-67.0892,75.81,93,97,0.94,light rain
21,21,Gushikawa,JP,26.3544,127.8686,81.63,96,75,5.75,broken clouds
...,...,...,...,...,...,...,...,...,...,...
670,670,Thai Binh,VN,20.4500,106.3333,77.72,72,96,10.63,overcast clouds
673,673,Noumea,NC,-22.2763,166.4572,85.98,60,100,18.07,overcast clouds
676,676,Oranjestad,AW,12.5240,-70.0270,84.15,84,20,11.50,few clouds
679,679,Sola,VU,-13.8833,167.5500,79.11,81,100,13.58,moderate rain
681,681,Stillwater,US,36.1156,-97.0584,77.61,30,0,10.36,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]]

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
3,Hilo,US,89.28,overcast clouds,19.7297,-155.0900
10,Caravelas,BR,75.27,overcast clouds,-17.7125,-39.2481
19,Kavieng,PG,83.41,overcast clouds,-2.5744,150.7967
20,Sao Gabriel Da Cachoeira,BR,75.81,light rain,-0.1303,-67.0892
21,Gushikawa,JP,81.63,broken clouds,26.3544,127.8686
25,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750
32,Janauba,BR,77.86,overcast clouds,-15.8025,-43.3089
35,Atuona,PF,76.86,clear sky,-9.8000,-139.0333
39,Nanakuli,US,87.17,clear sky,21.3906,-158.1547
46,Orange Cove,US,84.61,clear sky,36.6244,-119.3137

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

C:\Users\nguye\AppData\Local\Temp\ipykernel_20456\300884029.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Hilo,US,89.28,overcast clouds,19.7297,-155.0900,
10,Caravelas,BR,75.27,overcast clouds,-17.7125,-39.2481,
19,Kavieng,PG,83.41,overcast clouds,-2.5744,150.7967,
20,Sao Gabriel Da Cachoeira,BR,75.81,light rain,-0.1303,-67.0892,
21,Gushikawa,JP,81.63,broken clouds,26.3544,127.8686,
25,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,
32,Janauba,BR,77.86,overcast clouds,-15.8025,-43.3089,
35,Atuona,PF,76.86,clear sky,-9.8000,-139.0333,
39,Nanakuli,US,87.17,clear sky,21.3906,-158.1547,
46,Orange Cove,US,84.61,clear sky,36.6244,-119.3137,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Hilo,US,89.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Caravelas,BR,75.27,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
19,Kavieng,PG,83.41,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
20,Sao Gabriel Da Cachoeira,BR,75.81,light rain,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
21,Gushikawa,JP,81.63,broken clouds,26.3544,127.8686,Kirari Guest House
25,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Paradise Inn
32,Janauba,BR,77.86,overcast clouds,-15.8025,-43.3089,Ouro Norte Palace Hotel
35,Atuona,PF,76.86,clear sky,-9.8000,-139.0333,Villa Enata
39,Nanakuli,US,87.17,clear sky,21.3906,-158.1547,Camp Pālehua
46,Orange Cove,US,84.61,clear sky,36.6244,-119.3137,

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Hilo,US,89.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Caravelas,BR,75.27,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
19,Kavieng,PG,83.41,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
20,Sao Gabriel Da Cachoeira,BR,75.81,light rain,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
21,Gushikawa,JP,81.63,broken clouds,26.3544,127.8686,Kirari Guest House
...,...,...,...,...,...,...,...
670,Thai Binh,VN,77.72,overcast clouds,20.4500,106.3333,Sweden Hotel
673,Noumea,NC,85.98,overcast clouds,-22.2763,166.4572,Hôtel Le Lagon
676,Oranjestad,AW,84.15,few clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort
679,Sola,VU,79.11,moderate rain,-13.8833,167.5500,Leumerus Bungalows
681,Stillwater,US,77.61,clear sky,36.1156,-97.0584,Hampton Inn & Suites Stillwater

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>89.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada dos Navegantes</dd>\n<dt>City</dt><dd>Caravelas</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>75.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nusa Island Retreat</dd>\n<dt>City</dt><dd>Kavieng</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Max Temp</dt><dd>83.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Alarne - Área De Lazer Do Alto Rio Negro</dd>\n<dt>City</dt><dd>Sao Gabriel Da Cachoeira</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>75.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kirari Guest House</dd>\n<dt>City</dt><dd>Gushikawa</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Max Temp</dt><dd>81.63 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Max Temp</dt><dd>80.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ouro Norte Palace Hotel</dd>\n<dt>City</dt><dd>Janauba</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>77.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Max Temp</dt><dd>76.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Camp Pālehua</dd>\n<dt>City</dt><dd>Nanakuli</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>87.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Orange Cove</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>84.61 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3   19.7297 -155.0900
10 -17.7125  -39.2481
19  -2.5744  150.7967
20  -0.1303  -67.0892
21  26.3544  127.8686
25 -21.2078 -159.7750
32 -15.8025  -43.3089
35  -9.8000 -139.0333
39  21.3906 -158.1547
46  36.6244 -119.3137

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))